<h3>{{person.firstName + ' ' + person.lastName}}</h3>

<div class='panel'>
  <div class='row'>
    <div class='col-4'>Id</div>
    <div class='col-6'>{{person.id}}</div>
  </div>

  <div class='row'>
    <div class='col-4'>First Name</div>
    <div class='col-6'>{{person.firstName}}</div>
  </div>

  <div class='row'>
    <div class='col-4'>Last Name</div>
    <div class='col-6'>{{person.lastName}}</div>
  </div>

  <div class='row'>
    <div class='col-4'>Eyes</div>
    <div class='col-6'>{{person.eyes}}</div>
  </div>

  <div class='row'>
    <div class='col-4'>Age</div>
    <div class='col-6'>{{person.age}}</div>
  </div>
</div>

<button ng-click='back()' class='btn btn-primary'>Back</button>